<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cinderellaService" class="de.neofonie.cinderella.core.CinderellaServiceImpl"/>
    <bean id="captchaService" class="de.neofonie.cinderella.core.captcha.CaptchaServiceImpl"/>
    <bean id="textGenerator" class="de.neofonie.cinderella.core.captcha.text.TextGeneratorImpl"/>
    <bean id="captchaGenerator" class="de.neofonie.cinderella.core.captcha.generator.CaptchaGeneratorImpl"/>

</beans>